<footer class="bottom-banner">
    <div class="footer-section left">
<!--        <p>SouthEastern Lacrosse Conference (SELC)</p>-->
        <h3>QUICK NAVIGATION</h3>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/games">Vote on Games</a></li>
            <li>Filler Option</li>
            <li>Filler Option</li>
            <li>Filler Option</li>
            <li>Filler Option</li>
            <li>Filler Option</li>
        </ul>
    </div>

    <div class="footer-section social-media">
        <!-- Social media icons here -->
        <a href="http://facebook.com"><img src="instagram.png" alt="Instagram"></a>
        <a href="https://twitter.com/VarsityLacrosse"><img src="x.png" alt="X"></a>
        <!-- More social icons -->
    </div>

    <div class="footer-section right">
        <img src="some_logo.png" alt="Some Logo Here">
        <p>2024 Varsity Club Lacrosse Network</p>
    </div>
</footer>
