<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <script src="{{ url_for('static', filename='js/votingScript.js') }}" ></script>
    <script>console.log("Flash message: Games Loaded");</script>
</head>
<body>
    <h1>Upcoming Games</h1>
    <!-- games.html to index.html -->
    <form action="{{ url_for('home') }}">
        <button type="submit">Back to Home</button>
    </form>
    <br>
    {% if games %}
      <p>Games are available: {{ games|length }}</p>
    {% else %}
      <p>No games to display. (Games.html)</p>
    {% endif %}

    <main>
        {% include 'games_content.html' %}
    </main>
    <br>
    <form action="{{ url_for('home') }}">
        <button type="submit">Back to Home</button>
    </form>

</body>
</html>
