<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <script src="{{ url_for('static', filename='js/votingScript.js') }}" ></script>
    <script>console.log("Flash message: Games Loaded");</script>
<!--    <script>onLoad();</script>-->
</head>
<body>
{% include 'selectionBar.html' %}
<!--    <h1>Upcoming Games</h1>-->
    <div class="header">
<!--        <img src="/static/images/vcl.png" alt="VCL Logo" class="logo">-->
        <div class="title">MCLA Pick'Em</div>
<!--    <div class="score-box">Season 0/0</div>-->
        <div class="score-box">This Week 0/{{ games|length }}</div>
    </div>
    <br>

    {% if games %}
<!--      <p>Games available: {{ games|length }}</p>-->
    {% else %}
      <p>No games to display. (Games.html)</p>
    {% endif %}

    <main>
        {% include 'games_content.html' %}
    </main>
</body>
</html>
